In [1]:
import warnings
warnings.filterwarnings("ignore")

#import libraries
import pandas as pd
import numpy as np

#import visualization tools
import matplotlib.pyplot as plt
import seaborn as sns

#import dataset
from pydataset import data

#sklearn imports
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
import wrangle as w
import model as m
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer

In [2]:
df, train, validate, test = w.wrangle_zillow()

In [3]:
train.shape, validate.shape, test.shape

((1198531, 7), (513657, 7), (428047, 7))

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1198531 entries, 925749 to 2069726
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   bedrooms    1198531 non-null  float64
 1   bathrooms   1198531 non-null  float64
 2   sqft        1198531 non-null  float64
 3   home_value  1198531 non-null  float64
 4   year_built  1198531 non-null  object
 5   yearly_tax  1198531 non-null  float64
 6   county      1198531 non-null  object
dtypes: float64(5), object(2)
memory usage: 73.2+ MB

In [8]:
df.head()

,bedrooms,bathrooms,sqft,home_value,year_built,yearly_tax,county
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,los_angeles
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,los_angeles
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,los_angeles
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,los_angeles
14,0.0,0.0,171.0,6920.0,1973.0,255.17,los_angeles